*v1/dir
/hide.c
/h

# General
*.log
*.env
.env.local
*.lock
*.DS_Store
Thumbs.db

# PHP Composer
/php/vendor/
/composer.lock
/php/composer.lock
composer.phar

# Node.js
/node_modules/
/package-lock.json
/yarn.lock

# Build files
/build/
/dist/

# PHP Specific
*.php~
*.phar
*.swp
.idea/ # PHPStorm or Webstorm files
*.sql

# JavaScript Specific
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.cache
*.eslintcache

# Temporary files
*.tmp
*.temp

# Operating System Files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
*.sublime-project
*.sublime-workspace

# SASS / SCSS cache
.sass-cache/

# Laravel (if using Laravel)
bootstrap/cache/
storage/
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environments
venv/
env/
env.bak/
venv.bak/
*.env
*.env.local

# Distribution / Packaging
.Python
build/
dist/
*.egg-info/
*.egg
*.whl

# Test & Coverage
.coverage
.coverage.*
nosetests.xml
pytest.xml
*.cover
*.log
*.json

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

# Pytest
.cache/

# mypy
.mypy_cache/
.dmypy.json
darglint.txt

# Other files
*.DS_Store
Thumbs.db


# env
/mailer